<header>
  <nav>
  <container id=nav-bar>
    <div id = "logo">
      <a href="http://localhost:8080/">

      <img src="https://i.postimg.cc/pL983bD8/5e08e2bdde8246aa90c2ae29043db2a4.png">
      </a>
    </div>
    <div id="search-form">
    <form method="GET" action="/search">
      <input type="text" name="itemName" id="nav-input" placeholder="Search"></input>
      <select id = "categories-dropdown" placeholder="categories" name="categories">
        <option value="" disabled selected>Categories</option>
        <option value = "1">Micro</option>
        <option value = "2">Sedan</option>
        <option value = "3">Coupe</option>
        <option value = "4">Pickup</option>
        <option value = "5">Sport Car</option>
        <option value = "6">Crossover</option>
        <option value = "7">SUV</option>
        <option value = "8">Minivan</option>
        <option value = "9">Muscle Car</option>
        <option value = "10">Minibus</option>
        <option value = "11">Campervan</option>
        <option value = "12">Hatchback</option>
      </select>
      <input type="hidden" name="minPrice" value=0>
      <input type="hidden" name="maxPrice" value=2500001>
      <button type="search" value="Search" class="btn btn-outline-dark">Search</button>
    </form>
    </div>
    <section class="nav-icons">
      <a href="http://localhost:8080/conversations"><i class="fas fa-envelope"></i></a>
        <div class="circle">
            <p>2</p>
        </div>
      <a href="http://localhost:8080/favourites"><i class="fas fa-star"></i></a>
      <a href="http://localhost:8080/postad" class="button" style="padding-right: 23px;"><button id="post-ad-nav">Post Ad</button></a>
    </section>
  </container>
  </nav>
</header>



