<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
	<title>Autozone, Car Details</title>
	<link href="../public/img/favicon.png" type="image/x-icon" rel="shortcut icon">
	<link href="../styles/layout.css" rel="stylesheet">
	<link href="../public/plugins/iview/css/iview.css" rel="stylesheet">
	<link href="../public/plugins/iview/css/skin/style.css" rel="stylesheet">




</head>


<body>
	<div id="this-top" class="layout-theme animated-css" data-header="sticky" data-header-top="200">


		<div id="wrapper">

	
			<div id="wrapper">
				<%- include('partials/header'); %>
				<div class="block-title">
				<div class="block-title__inner section-bg section-bg_second">
					<div class="bg-inner">
						<h1>Car Details</h1>

					</div><!-- end bg-inner -->
				</div><!-- end block-title__inner -->
			</div><!-- end block-title -->

			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<main class="main-content">
							<article class="car-details">
								<div class="car-details__wrap-title clearfix">
									<h2 class="">Chevrolet Impala</h2>
									<div class="car-details__wrap-price"><span class=""><span class="">
												<h2>$27,920</h2>
											</span></span></div>
								</div>

								<div>
									<ul class="slides">
										<li>
											<a href="../public/media/slider_product/large/1.jpg">
												<img class="img-responsive"
													src="../public/media/slider_product/large/1.jpg" height="430"
													width="770" alt="Foto">
											</a>
										</li>




										<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane active" id="tab1">
												<h3 class="">Car Overview</h3>
												<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium
													doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
													inventore
													veritatis et quasi architecto beatae vitae dicta sunt explicabo.
													Nemo enim
													ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
												</p>
											
											</div>
											<div class="tab-pane" id="tab2">
												<h3 class="ui-title-inner">Lorem ipsum dolor</h3>
												<div class="decor-1"></div>
												<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium
													doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
													inventore
													veritatis et quasi architecto beatae vitae dicta sunt explicabo.
													Nemo enim
													ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
												</p>
											</div>
											<div class="tab-pane" id="tab3">
												<h3 class="ui-title-inner">Sit amet consectetur</h3>
												<div class="decor-1"></div>
												<p>Aiber vestiblum fringilla orem ipsum dolor sit amet consectetur
													adipisc ing
													elit sed don eiusmod tempor incididunt ut labore et dolore magna
													aliquaa
													enimd ads minim veniam quis nostrud Lorem ipsum dolor sit amet
													consectetur
													adipis cing elit sed do eiusmod tempor. Lorem ipsum dolor sit amet
													consectetur adipisicing.</p>
												<p>Elit sed do eiusmod tempor incididunt ut labore et dolore magna
													aliqua. Ut
													enim ad minim veniam quis nostru dare exercitation ullamco laboris
													nisi
													aliquip ex ea commodo consequat. Duis aute irue dolor in
													reprehenderit in
													voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
											</div>
										</div>

							</article>




						</main><!-- end main-content -->
					</div><!-- end col -->


					<div class="col-md-4">
						<aside class="sidebar">
							<section class="widget">

								<h3 class="">Car Details</h3>
								<div class="widget-content">
									<dl class="">
										<dt>Make</dt>
										<dd>Chevrolet Impala</dd>
										<dt>Model</dt>
										<dd>Camry</dd>
										<dt>Color</dt>
										<dd>Red</dd>
										<dt>Year</dt>

										<dd>2015</dd>

									</dl>
								</div>

								<section class="widget">

									<h3 class="">Seller Details</h3>
									<div class="widget-content">
										<dl class="">
											<dt>Name</dt>
											<dd>Mark Henry</dd>
											<dt>Email</dt>
											<dd>mark@gmail.com</dd>
											<dt>Contact</dt>
											<dd>949-546-0518</dd>

												
													<div class="text-center">

													<a href="messages.ejs"><button class=" "><span
																class="">Message
																Seller</span></button></a>
												</div>

										</dl>
									</div>
								</section>

							</section>


						</aside>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->



			<footer class="footer wow bounceInUp" data-wow-duration="2s">
      
                <div class="copyright">Copyrights 2022  <a class="" href="javascript:void(0);">LightList</a> : : All
                  rights reserved</div>
        
      </footer>

		</div><!-- end #wrapper -->
	</div><!-- end layout-theme -->

	<span class="scroll-top"> <i class="fa fa-angle-up"> </i></span>







</body>

</html>