<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
	<title>Autozone, Car details</title>
	<link href="../public/img/favicon.png" type="image/x-icon" rel="shortcut icon">
	<link href="../styles/layout.css" rel="stylesheet">
	<link href="../public/plugins/iview/css/iview.css" rel="stylesheet">
	<link href="../public/plugins/iview/css/skin/style.css" rel="stylesheet">
<!-- Font Awesome -->
<!-- Google Fonts -->
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Material Design Bootstrap -->



</head>


<body>
	<div id="this-top" class="layout-theme animated-css" data-header="sticky" data-header-top="200">


		<div id="wrapper">

 
			<div id="wrapper">
        <%- include('partials/header'); %>

			<div class="block-title">
				<div class="block-title__inner section-bg section-bg_second">
					<div class="bg-inner">
						<h1 class="text-white">Sign In / Sign Up</h1>

					</div><!-- end bg-inner -->
				</div><!-- end block-title__inner -->
			</div><!-- end block-title -->
            <div class="container py-5 px-5">
<div class="row">
    <div class="col-6 px-5">
        <h2 class="text-center mb-4">Sign In</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                  aria-describedby="basic-addon1" />
              </div>
              
  
        
              
             
              
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
           
              </div>
              <div class="input-group">

                <a href="" class="btn btn-primary ">Submit</a>
              </div>
              
            </div>
            <div class="col-6 px-5">
                <h2 class="text-center mb-4">Sign Up</h2>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Email" aria-label="email"
                      aria-describedby="basic-addon1" />
                  </div>
                  
                
                  
              
                  
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Full Name" aria-label="fullname" />
                   
                    
                  </div>
                  
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password" />
                   
                    <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" />
                  </div>
                  
                  <div class="input-group">

                    <a href="" class="btn btn-primary ">Submit</a>
                  </div>
                </div>
            </div>
            </div>


			<footer class="footer wow bounceInUp" data-wow-duration="2s">
      
                <div class="copyright">Copyrights 2022  <a class="" href="javascript:void(0);">LightList</a> : : All
                  rights reserved</div>
        
      </footer>

		</div><!-- end #wrapper -->
	</div><!-- end layout-theme -->

	<span class="scroll-top"> <i class="fa fa-angle-up"> </i></span>





<!-- JQuery -->
<!-- Bootstrap tooltips -->
<!-- Bootstrap core JavaScript -->



</body>

</html>